html{
    font-family: 'Prompt', sans-serif;
}
header{
    height:60vh;
    display: flex;
    width: 100%;
    align-items:center;
    flex-direction: column;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
header div{
    margin-top: 10%;
    color: white;
    text-align: center;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
header div h2{
    margin-top: 2%;
}
main{
    display: flex;
    flex-direction: column;
}
main div{
    width: 60%;
}
#team{
    width: 100%;
}
#team h3{
    text-align: center;
    margin-top: 4%;
    margin-bottom:2.5%;
}
.team-container{
    display:flex;
    width: 100%;
    margin-bottom: 5%;
    overflow: hidden;
}
.team-lid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-lid h3{

}
.foto-wrap{
    position: relative;
    width: 70%;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}
.foto-wrap img{
    transition: all 0.1s ease-in-out;
}
.foto-wrap:hover img{
    filter: blur(5px);
}
.foto-wrap:hover p{
    font-weight: bold;
    color: black;
    visibility:visible;
    opacity:1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}
.foto-wrap p{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
}
.foto-container{
    width: 35%;
}
img{
    width: 100%;
}
section{
    text-align: center;
}
section p {
    width:33%;
    margin: 0 auto;
}
section h3{
    margin-bottom: 2.5%;
}
.subscript{
    vertical-align: super;
}
.tabel{
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: left;
    margin-bottom: 5%;
}
.tabel ul{
    line-height: 180%;
    height:20vh;
    width:30%;
}
.team-hover:hover{
    filter: blur(5px);
}